<section class="container">
  <div class="form-box">
    <h1>Forgot your password?</h1>
    <p>Enter your email to receive a reset link.</p>
    <form class="mt-6 space-y-6" (ngSubmit)="requestPasswordReset()">
      <div>
        <label for="email" class="block text-sm font-medium mb-2">Your Email</label>
        <input type="email" [(ngModel)]="email" name="email" id="email" class="input-field" placeholder="name@example.com" required />
      </div>
      <button type="submit" class="submit-button">Reset Password</button>
    </form>
  </div>
</section>